body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
}
.button-index {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 48px;
    font-family: "Bitter",serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}
.button-index:focus {
    outline: none
}
.container{
    width: 1024px;
    padding: 25px;
}
.button-row{
    display: flex;
    justify-content: space-around;

    margin-top: 50px;

}
.button{
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    width: 300px;
    height: 150px;
}
.button-index:hover,
.button-index.hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
}
.button-index:active,
.button-index.active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}
.h2-index{
    text-align: center;
}
.on_main{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    font-size: 24px;
}
.button-login{
    color: #fff;
    background-color: #ff413c;
    /*text-shadow: -1px 1px #ff413c;*/
    border: none;
    width: 60px;
    height: 36px;
}
.button-login:hover,
.button-login.hover {
    background-color: #92464a;
    text-shadow: -1px 1px #6d292c;
}
.button-login:active,
.button-login.active {
    background-color: #6d353b;
    text-shadow: -1px 1px #47080e;
}
.input-login{
    height: 30px;
}
.button-a{
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    text-decoration: none;
}
.button-a:hover,
.button-a.hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
}
.button-a:active,
.button-a.active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}
.button-a-div{
    width: 110px;
    height: 36px;
    text-align: center;
    margin-right: 15px;
    line-height: 36px;
}