<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./style.css" >
</head>
<body>
<h2>ComplexFVF</h2>
<div th:text="${complex.complexName}"></div>
<div th:text="${complex.id}"></div>
<!--<div th:text="${complex.complexType}"></div>-->
<!--<div th:text="${complex.complexMark}"></div>-->
<!--<div th:text="${complex.complexStatus}"></div>-->
<!--<div th:text="${complex.complexPlace}"></div>-->
<!--<div th:text="${complex.seriesNumber}"></div>-->
<!--<div th:text="${complex.buhData}"></div>-->
<!--<div th:text="${complex.network}"></div>-->
<!--<div th:text="${complex.documents}"></div>-->
<!--<div th:text="${complex.offenses}"></div>-->



</body>
</html>