<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./style.css" >
</head>
<body>


<div class="container">
    <div th:replace="~{navigation :: navi}"/>

    <h2 class="h2-index">Фотовидеофиксация</h2>
    <form th:action="@{/}"> <button  class="button button-index on_main">На главную</button></form>

    <div >

        <table class="table_border table">
            <thead>
            <tr class="table_border">
                <th class="table_border">S/N</th>
                <th class="table_border">Место</th>
                <th class="table_border">Марка</th>
                <th class="table_border">Тип</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="complex : ${complexes}">
                <td th:text="${complex.seriesNumber}" class="table_border"></td>
                <td  class="table_border"><a th:text="${complex.complexName}" th:href="@{/fvf/{sn}(sn = ${complex.seriesNumber})}"></a></td>
                <td th:text="${complex.complexMark.mark}" class="table_border"></td>
                <td th:text="${complex.complexType.type}" class="table_border"></td>
            </tr>
            </tbody>
        </table>

        <!--<div th:if="${complexes.isEmpty()}">-->
            <!--<div >No data</div>-->
        <!--</div>-->
    </div>

</div>

</body>
</html>