<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./resources/style.css" >
</head>
<body>

<div class="container">
    <h2 class="h2-index">ГКУ "ЦБДД Пермского края"</h2>
    <div>
        <div class="button-row">
            <button class="button">ФВФ</button>
            <button class="button">АПВГК</button>
        </div>
        <div class="button-row">
            <button class="button">Виде</button>
            <button class="button">АСМО</button>
        </div>
    </div>
</div>

</body>
</html>