<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div  th:fragment="navi">
    <nav >


        <div id="navbarNav">
            <ul style="display: flex">
                <li sec:authorize="hasRole('ROLE_ADMIN')" >

                   <a th:href="@{/users}" class="button-a">
                       <div th:text="Пользователи" class="button-a button-a-div"> </div>
                   </a>
                </li>

                <li sec:authorize="isAuthenticated()" >
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="button-login">Выход</button>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()" >
                    <form  th:action="@{/authenticateTheUser}" method="POST">
                        <div >
                            <input  type="text" placeholder="Логин" name="username" aria-describedby="inputGroup-sizing-sm" class="input-login">
                            <input  type="text" placeholder="Пароль" name="password" aria-describedby="inputGroup-sizing-sm" class="input-login">
                            <button type="submit" class="button-login">Войти</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>