<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css" >

</head>
<body>


<div class="container">
    <h1>Пользователи</h1>

    <form th:action="@{/users/form}" th:object="${user}" method="post">
        <div th:if="${error != null}">
            <p th:text="${error}" class="error_text">

            </p>
        </div>
        <p>Логин:</p>
        <p>
            <input type="text" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Password don't match</p>
        </p>

        <p>Пароль:</p>
        <p>
            <input type="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password don't match</p>
        </p>

        <p>Повторите пароль:</p>
        <p><input type="password" th:field="*{matchingPassword}"></p>

        <p>Права доступа:</p>
        <p>
        <ul>
            <li th:each="role : ${roles}">
                <input type="checkbox" th:value="${role.name}" th:field="*{roles}" th:text="${role.name}"/>
            </li>
        </ul>
        </p>
        <div style="display: flex">

        <button type="submit" class="button-login" value="Save">Сохранить</button>
            <a th:href="@{/users}" th:text="Отмена" class="button-a button-a-div"></a>
        </div>
    </form>
</div>

</body>
</html>