<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./style.css" >
</head>
<body>

<div class="container">
    <div th:replace="~{navigation :: navi}"/>

    <h2 class="h2-index">Пользователи</h2>
    <form th:action="@{/index}"> <button  class="button button-index on_main">На главную</button></form>

    <div style="display: flex; width: 20%; justify-content: space-around; margin-left: auto; margin-right: auto">
        <div>
            <div><h4>Id</h4></div>
            <div th:unless="${users.isEmpty()}" th:each="user : ${users}" th:text="${user.id}" style="margin-bottom: 7px"></div>

        </div>

        <div  >
            <div><h4>Username</h4></div>
            <div  th:unless="${users.isEmpty()}" th:each="user : ${users}">   <a th:text="${user.username}" th:href="@{/users/{id}(id = ${user.id})}" style="margin-bottom: 7px"></a></div>

        </div>

        <div th:if="${users.isEmpty()}">
            <div >No data</div>
        </div>
    </div>


</div>

</body>
</html>