<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css" >

</head>
<body>


<div class="container">
    <h1>Пользователи</h1>

    <form th:action="@{/users/form}" th:object="${user}" method="post">
        <input th:type="hidden" th:field="*{id}">
        <p>Логин:</p>
        <p>
            <input type="text" th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Password don't match</p>
        </p>

        <p>Пароль:</p>
        <p>
            <input type="password" th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password don't match</p>
        </p>

        <p>Повторите пароль:</p>
        <p><input type="password" th:field="*{matchingPassword}"></p>

        <p>Права доступа:</p>
        <p>
            <select multiple  id="roles" th:field="*{roles}" required style="width: 250px">
                <option th:each="role : ${roles}"
                        th:text="${role.name}"
                        th:value="${role.id}"
                        th:selected="${user.roles?.contains(role)}"></option>
            </select>
        </p>
        <div style="display: flex">

        <button type="submit" class="button-login" >Сохранить</button>
            <a th:href="@{/users}" th:text="Отмена" class="button-a button-a-div"></a>
        </div>
    </form>
</div>

</body>
</html>